#activity1 {
    display: block;
}
#activity2 {
    display: block;
}
#activity3 {
    display: none;
}
#activity4 {
    display: none;
}
#activity5 {
    display: none;
}
#activity-menu {
    display: flex;
    flex-direction: column;
    

}
