#activity1 {
    display: none;
    margin: 0 auto 0 auto;
}
#activity2 {
    display: none;
    margin: 0 auto 0 auto;
}
#activity3 {
    display: none;
    margin: 0 auto 0 auto;
}
#activity4 {
    display: none;
    margin: 0 auto 0 auto;
}
#activity5 {
    display: none;
    margin: 0 auto 0 auto;
}
